<link rel="stylesheet" href="~/css/Style.css" />
<section>
      <h1>Bem-vindo, @ViewBag.UserName!</h1>
      <div class="box-buttons">
        <div class="box-button-chamado">
          <button class="button-criar-chamado">Criar chamado</button>
        </div>

        <div class="chamados">
          <button class="button-chamados"><img src="~/assets/svgFolder.svg" />
            Chamados Pendentes</button>
          <button class="button-chamados"><img src="~/assets/svgHourglass.svg" />
            Chamados em Andamentos</button>
          <button class="button-chamados"><img src="~/assets/svgCorrect.svg" />
            Chamados Solucionados</button>
        </div>
      </div>
    </section>