<section>
    <h1>Minhas Configurações</h1>
    <div>
        <p class="user-config">Usuário: <span class="user-data">@ViewBag.UserName</span></p>
        <p class="user-config">Senha: <span class="user-data">
            @for (int i = 0; i < (ViewBag.UserPassword?.Length ?? 0); i++)
                {
                    @("*")
                }</span></p>
    </div>
</section>