@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="login">
    <div>
        <img src="~/assets/logo.png" alt="logo Fatal-System" class="logo-login" />
    </div>
    <div class="box-login">
        <h1 class="text-login">Login</h1>
        <form asp-action="Index" method="post" class="form">
            <div class="inputs">
                <span class="icons"><i class="fa-solid fa-user"></i></span>
                <input class="input-login" type="text" name="name" placeholder="Usuário" />
            </div>

            <div class="inputs">
                <span class="icons"><i class="fa-solid fa-lock"></i></span>
                <input class="input-login" type="password" name="password" placeholder="Senha" />
            </div>

            @if (ViewBag.Error != null)
            {
                <p class="notice">@ViewBag.Error</p>
            }

            @if (ViewBag.ForgetPassword != null)
            {
                <p class="notice">@ViewBag.ForgetPassword</p>
            }

            <button type="submit" formaction="/Login/ForgetPassword" class="forget-password">Esqueceu a senha?</button>

            <div class="button-enter">
                <button class="enter" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</div>
