<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerenciamento_De_Chamados.Properties.Settings.DbaFatal_SystemConnectionString"
            connectionString="Data Source=fatalsystemsrv1.database.windows.net;Initial Catalog=DbaFatal-System;Persist Security Info=True;User ID=frederico;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
