<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Fatal System</title>
    
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <section class="home">
        <div class="nav-bar">
            <form method="get" action="/Home">
                <input type="hidden" name="user" value="@ViewBag.UserName" />
                <button class="box-logo">
                <img src="~/assets/logo.png" class="logo-home" />
            </button>
            </form>
            <ul>
                <li class="utils"><i class="fas fa-headset icons-home"></i> Serviços</li>
                <li class="utils"><i class="fas fa-list icons-home"></i> Meus Chamados</li>
                <li class="utils"><i class="fas fa-question-circle icons-home"></i> FAQ</li>
            </ul>
        </div>

        <div class="header">
            <div class="box-inicio">
                <form method="get" action="/Home">
                    <input type="hidden" name="user" value="@ViewBag.UserName" />
                    <button type="submit" class="button-inicio">
                        <i class="fas fa-house icons-home"></i> Home
                    </button>
                </form>
                
                <div class="user">
                    <p class="name">@ViewBag.UserName</p>
                    <div class="dropdown">
                        <button class="button-user"><i class="far fa-user-circle"></i></button>
                        <div class="dropdown-menu">
                            <ul>
                                <li class="menu"><a href="/UserConfiguration?user=@ViewBag.UserName&password=@ViewBag.UserPassword">Minha Conta</a></li>
                                <li class="menu"><a href="/Login">Sair</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                @RenderBody()
            </div>
        </div>
    </section>
</body>
</html>
